.hospitalCard {
  margin: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 5px;
  background-color: white;
}

.itemDiv {
  display: flex;
  margin: 8px;
  padding: 10px;
  min-width: 200px;
  border-bottom: 2px solid #625b5b;
  color: #232323;
}

.sigunguDiv {
  margin-left: 8px;
  margin-top: 8px;
}

.rightAlignDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
.white {
  color: white;
}
.darkBrown {
  color: #8c7b75;
}

.dialogDiv {
  width: 100%;
  color: #232323;
  display: flex;
  justify-content: space-between;
}

.zidoupdate {
  padding: 10px;
}