.questionCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardDiv {
  border-radius: 8px;
  width: 90%;
  margin-top: 10px;
}

@media all and (min-width:450px) {
  .cardDiv {
    margin-top: 20px;
    width: 400px;
  }
}

.questionTitleDiv {
  border-bottom: 1.5px solid #232323;
  padding: 5px;
  margin-top: 5px;
  color: #232323;
}
.questionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.questionTextDiv{
  margin: 5px;
  margin-top: 25px;
  color:black;
}
.contentDiv {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.cardDiv .contentDiv a {
  text-decoration: none;
}

.buttonDiv {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.buttonDivAnswer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rightAlignDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}